#contact{
  border: 0.5px white solid;
  border-radius: 2px; 
}
.icon{
  color:  #2BA0CF;
  font-size: 24px;
}
.button{
position: relative;
 width: 160px;
 /* margin:auto; */
 background-image: linear-gradient(to right, #2BA0CF , #6E3DCA); 
 text-align: center;
 font-size: 1.2rem;
 padding: 0.4rem;
 cursor: pointer;
 border-radius: 6%;
}
.button:hover{
    background-image: linear-gradient(to right,  #6E3DCA,#2BA0CF ); 
}
